.auth-layout {
    &-root {
        display: flex;
        min-height: 100vh;
        overflow-x: hidden;
        position: relative;
    }

    &-wrapper-main {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        min-width: 0;
    }

    &-content {
        flex-grow: 1;
        width: 100%;
    }
    
}
