.header {
    &-container {
        border-radius: 0 !important;
        background-color: var(--color-bg-paper) !important;
        color: var(--color-text-primary) !important;
        border-bottom: 1px solid !important;
        border-color: var(--color-border) !important;
    }

    &-toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center !important;
    }

    &-iconMobile {
        width: 30px !important;
        height: 30px !important;
        border-radius: 5px !important;
        transition: left 0.3s ease !important;
    }

    &-switchMode {
        position: relative;
        display: flex;
        align-items: center;
        background-color: var(--color-bg-default);
        border-radius: 999px;
        overflow: hidden;
        transition: background-color 0.3s ease;
    }

    &-switchModeAnim {
        position: absolute;
        background-color: var(--color-bg-paper);
        border-radius: 999px;
        transition: all 0.3s cubic-bezier(.4, 0, .2, 1);
    }

    &-buttonAnim {
        width: 30px;
        height: 30px;
        transition: color 0.3s ease;
    }

    &-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    &-profileIcon {
        background-color: var(--color-bg-default);
        border-radius: 999px;
    }

    &-icon {
        width: 40px;
        height: 40px;
        color: var(--color-text-secondary) !important;
        transition: color 0.2s ease, background-color 0.2s ease !important;

        &:hover {
            background-color: var(--color-action-hover) !important;
            color: var(--color-text-primary) !important;
        }
    }

    // Popover


}