.nonauth {
    &-root {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &-theme-toggle {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
    }

    &-paper {
        max-width: 1200px;
        max-height: 800px;
        display: flex;
        overflow: hidden;
    }

    &-left {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;
        overflow: hidden;
    }

    &-right {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;
    }

    &-swiper-container {
        display: flex;
        justify-content: center;
        flex-direction: row;

        .swiper {
            background: transparent;
        }

        .swiper-pagination {
            position: relative;
            margin-top: -10px;
        }

        .swiper-pagination-bullet {
            background-color: var(--color-bg-elevated);
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background-color: var(--color-primary);
        }
    }

    &-swiper-card {
        width: 90%;
        overflow: hidden;
}

    &-copyright-section {
        text-align: center;
        opacity: 0.8;
    }

}