.rootpagecustom {
    &-head-wrapper {
        align-items: stretch;
        justify-content: space-between;
    }

    &-title-wrapper {
        align-items: center;
        background-color: var(--color-primary);
        color: var(--color-text-light);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}