.sidebar {
    &-container {
        display: flex;
        height: 100vh;
        flex-direction: column;
        transition: width 0.3s ease;
    }

    &-header-container {
        display: flex;
        align-items: center;
    }

    &-header-img {
        width: 28px;
        height: 28px;
    }

    &-header-icon {
        display: flex;
        color: var(--color-primary);
    }

    &-body-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        // -ms-overflow-style: none;
        // scrollbar-width: none;

        // &::-webkit-scrollbar {
        //     display: none;
        // }
    }

    &-body-title {
        display: flex;
        color: var(--color-text-secondaryLighter);
    }

    &-body-parent {
        display: flex;
        flex-direction: column;
        color: var(--color-text-secondary);
    }

    &-body-child {
        display: flex;
        flex-direction: column;
        color: var(--color-text-secondary);
        padding-bottom: 0 !important;
        padding-top: 0 !important;
        width: 90%;
        margin-left: 10% !important;
        border-left: 2px solid var(--color-border);
    }

    &-body-child-popover {
        display: flex;
        flex-direction: column;
        color: #6B7280;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
    }
}